<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mns.typelytics" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mns.typelytics.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mns.typelytics.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name="com.mns.typelytics.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name="com.mns.typelytics.RaceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity android:name="com.mns.typelytics.ResultActivity" >
        </activity>

        <service
            android:name="com.mns.typelytics.services.NetworkService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity android:name="com.mns.typelytics.LeaderboardActivity"
            android:label="@string/leader_board">
        </activity>
        <activity android:name="com.mns.typelytics.StatsActivity" >
        </activity>
    </application>

</manifest>
